@model IEnumerable<WebOEE.Models.base_sbxx>
@{
    ViewBag.Title = "设备标准节拍设置";
}
<div class="page_header">
    <div class="page_header_txt">设置标准节拍&nbsp;<span style="font-size:14px;">(秒/件)</span></div>
</div>
<div class="page_content">
    @{ foreach (var item in ViewBag.list)
        {
            <fieldset>
                <legend>@(item+"线")</legend>
                <ul>
                    @{ foreach (var sitem in Model.Where(t => t.sbqy.StartsWith(item)))
                        {
                            <li><label style="font-size:19pt;">@sitem.sbqy</label><label>@("["+sitem.sbxh+"]"+"：") </label><input name="@sitem.sbbh" type="number" value="@sitem.bzjp" /></li>
                        }}
                </ul>
            </fieldset>
        }}

    <div class="btn_bar">
        <button class="btn btn-primary btn_save" id="btn_save_bzjp">保存</button>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#btn_save_bzjp").click(function () {
            var list = $("input[type='number']");
            var postdata = [];
            $.each(list, function (i, item) {
                var key = $(item).attr("name");
                var val = $(item).val();
                postdata.push({ sbbh: key, bzjp: val });
            });
            
            $.ajax({
                url: '/BZJP/Save',
                type: 'POST',
                data: JSON.stringify(postdata),
                dataType: 'json',
                contentType: 'application/json',
                success: function (res) {
                    alert(res.msg);
                    if (res.code === 1) {
                        window.location.href = "http://172.16.201.166/decision/view/form?viewlet=/LBJ/OEE/OEE_ZL.frm";
                    }
                }
            });
        });
    })
</script>


